.root{
    text-align: center;
    padding: 100px;
    h2{
        font-size: 35px;
        margin-bottom: 15px;
    }
    span{
        margin-bottom: 15px;
        font-size: 64px;
    }
    .description{
        font-size: 22px;
    }
}