.root{

    li{
        display: inline-block;
        cursor: pointer;
        
        a{
            color: rgb(245, 108, 28);
            border: 2.5px solid rgb(250, 95, 33);
            border-radius: 30px;
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: center;
            line-height: 27px;
            margin-left: 15px;
            color: rgb(250, 95, 33);
            &:hover{
                background-color:  rgb(250, 95, 33);
                color: rgb(245, 244, 244);
            }
        }
    }
    :global{
        .selected{
            a{
                background-color:  rgb(250, 95, 33);
                color: rgb(245, 244, 244);
            }
        }
    }
}